# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [357]:
# Add your code for Question 1 in this code block
import pandas as pd
import numpy as np

df = pd.read_csv('application_data.csv')
df

# convert to dates
df['appilcationDate'] = pd.to_datetime(df['appilcationDate'])
df['repaymentDueDate'] = pd.to_datetime(df['repaymentDueDate'])
df['repaymentPaidDate'] = pd.to_datetime(df['repaymentPaidDate'])

# data types
data_types = df.get_dtype_counts()
df.head()
print (df.dtypes.nunique())
print('The total number of unique data types is 4')

4
The total number of unique data types is 4

 Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [358]:
# Add your code for Question 2 in this code block

# 2a avg loan amount
LoanAmount = np.average(df['LoanAmount']).round(2)
print(LoanAmount)
print("The Average Loan Amount is 13828.08")

# 2b avg interest rate
InterestRate = np.average(df['InterestRate']).round(2)
print(InterestRate)
print("The Average Interest Rate is 23.06")

# 2c avg term days 
TermDays = np.average(df['TermDays']).round(2)
print(TermDays)
print("The Average Term Days is 42.08")

13828.08
The Average Loan Amount is 13828.08
23.06
The Average Interest Rate is 23.06
42.08
The Average Term Days is 42.08

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [348]:
# convert to dates
df['appilcationDate'] = pd.to_datetime(df['appilcationDate'])
df['repaymentDueDate'] = pd.to_datetime(df['repaymentDueDate'])
df['repaymentPaidDate'] = pd.to_datetime(df['repaymentPaidDate'])

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [359]:
# data types
data_types = df.get_dtype_counts()
print (df.dtypes.nunique())
print('The total number of unique data types is 4')

4
The total number of unique data types is 4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [264]:
# 2a avg loan amount
LoanAmount = np.average(df['LoanAmount']).round(2)
LoanAmount

13828.08

In [265]:
# 2b avg interest rate
InterestRate = np.average(df['InterestRate']).round(2)
InterestRate

23.06

In [266]:
# 2c avg term days 
TermDays = np.average(df['TermDays']).round(2)
TermDays

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [382]:
# number of loans more than 3 days late

df['appilcationDate'] = pd.to_datetime(df['appilcationDate'])
df['repaymentDueDate'] = pd.to_datetime(df['repaymentDueDate'])
df['repaymentPaidDate'] = pd.to_datetime(df['repaymentPaidDate'])

df['dateDifference'] = (df['repaymentPaidDate']) - (df['repaymentDueDate'])
df[df['dateDifference'] > pd.Timedelta('3 days')]

df['dateDifference']

0       -4 days
1      -24 days
2      -30 days
3      -26 days
4       -3 days
5      -71 days
6     -154 days
7      -62 days
8      -63 days
9      -81 days
10     -17 days
11     -38 days
12    -153 days
13    -165 days
14     -42 days
15     -59 days
16    -116 days
17     -25 days
18     -42 days
19     -34 days
20     -25 days
21     -35 days
22     -43 days
23     -29 days
24     -37 days
25     -24 days
26     -45 days
27     -33 days
28     -42 days
29     -26 days
         ...
970     -1 days
971    -18 days
972      0 days
973      0 days
974    -16 days
975      0 days
976      1 days
977    -17 days
978      8 days
979     -9 days
980     11 days
981     -3 days
982      0 days
983     89 days
984    -10 days
985     -1 days
986     -8 days
987    103 days
988     -5 days
989      2 days
990      2 days
991     -9 days
992     -1 days
993     -8 days
994      1 days
995    -25 days
996     -1 days
997    252 days
998     -2 days
999    -13 days
Name: dateDifference, Length: 1000, dtype: timedelta64[ns]

In [362]:
df.dateDifference = df.dateDifference.dt.days
df['paidMoreThan3DaysLate'] = np.where(df['dateDifference'] > 3, 'True', 'False')

paidMoreThan3DaysLate = df['paidMoreThan3DaysLate'].value_counts()
print(paidMoreThan3DaysLate)

print('The number of Loans that were paid more than 3 days late is 145')

False    855
True     145
Name: paidMoreThan3DaysLate, dtype: int64
The number of Loans that were paid more than 3 days late is 145

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [363]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
groupedMean = df.groupby('TermDays').agg({'LoanAmount': np.mean}).round(2)
grouped

          LoanAmount
TermDays
15           1274.09
30           7941.96
45          10706.25
60          25710.53
90          37672.73
120         45055.56
180         80988.10

In [364]:
meanLoanAmount30Days = df.groupby('TermDays').mean().iloc[1,1].round(2)
print(meanLoanAmount30Days)
print ('Mean Loan Amount in 30-day is 7941.96')

7941.96
Mean Loan Amount in 30-day is 7941.96

In [365]:
groupedStd = df.groupby('TermDays').agg({'LoanAmount': np.std}).round(2)
groupedStd

          LoanAmount
TermDays
15           2885.97
30           1606.04
45           2346.14
60          11559.65
90          18050.14
120         22192.97
180         34612.22

In [366]:
stdLoanAmount90Days = df.groupby('TermDays').std().iloc[4,1].round(2)
print(stdLoanAmount90Days)
print ('Standard Deviation of Loan Amount in 90-days is 18050.14')

18050.14
Standard Deviation of Loan Amount in 90-days is 18050.14

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [399]:
# week of year and average number of late days

lateDays = df[df['dateDifference'] > pd.Timedelta('3 days')]

lateDays['appilcationDate'] = lateDays['appilcationDate'].dt.week
lateDays

C:\Users\Kenny\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,paidMoreThan3DaysLate
397,GH35460722,100016172,5,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days,True
410,GH85390929,100015715,4,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days,True
419,GH06832511,100014400,3,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days,True
424,GH26139148,100017099,5,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days,True
426,GH03825373,100012495,2,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days,True
432,GH63887800,100016727,5,2,80.0,15.0,15,2018-02-19,2018-02-25,6 days,True
446,GH33164754,100014274,3,5,80.0,15.0,15,2018-02-05,2018-02-12,7 days,True
448,GH28179321,100016682,5,5,80.0,15.0,15,2018-02-19,2018-02-28,9 days,True
449,GH96880686,100012940,2,1,80.0,15.0,15,2018-01-29,2018-02-17,19 days,True
450,GH80713260,100017839,6,4,80.0,15.0,15,2018-02-23,2018-02-27,4 days,True
456,GH28179321,100011014,1,4,80.0,15.0,15,2018-01-22,2018-01-31,9 days,True
457,GH59483030,100017217,6,5,80.0,15.0,15,2018-02-20,2018-04-04,43 days,True
459,GH00205281,100016094,5,2,80.0,15.0,15,2018-02-13,2018-02-27,14 days,True
462,GH96908526,100013425,3,3,80.0,15.0,15,2018-01-31,2018-02-19,19 days,True
469,GH91278408,100017825,6,2,80.0,15.0,15,2018-02-23,2018-03-29,34 days,True
474,GH63727524,100015090,4,1,80.0,15.0,15,2018-02-07,2018-05-28,110 days,True
491,GH44856685,100016872,5,5,80.0,15.0,15,2018-02-19,2018-03-05,14 days,True
517,GH67529775,100017455,6,2,80.0,15.0,15,2018-02-21,2018-03-05,12 days,True
531,739546510,302060935730,29,6,20500.0,20.0,60,2018-09-16,2018-12-22,97 days,True
532,051964302,302344421107,36,4,20500.0,20.0,60,2018-11-06,2018-12-01,25 days,True
544,026133837,302623360,2,2,7500.0,30.0,30,2018-02-11,2018-03-24,41 days,True
547,124189650,302607241,2,1,7500.0,30.0,30,2018-02-09,2018-03-30,49 days,True
549,061452364,302528776595,40,2,7500.0,30.0,30,2018-11-05,2018-11-14,9 days,True
551,383789899,302833086,8,1,7500.0,30.0,30,2018-03-29,2018-04-12,14 days,True
553,339095931,302379245789,37,2,7500.0,30.0,30,2018-10-12,2018-10-31,19 days,True
554,091351436,302832471,8,1,7500.0,30.0,30,2018-03-27,2018-04-24,28 days,True
555,683225743,302072465932,29,5,7500.0,30.0,30,2018-08-20,2018-09-25,36 days,True
557,530961303,302716663,5,2,7500.0,30.0,30,2018-03-02,2018-03-07,5 days,True
560,974013962,302583090,1,1,7500.0,30.0,30,2018-02-04,2018-03-06,30 days,True
562,751741585,303138149,17,1,7500.0,30.0,30,2018-05-28,2018-07-28,61 days,True
...,...,...,...,...,...,...,...,...,...,...,...
890,159945550,302589833904,42,1,7500.0,30.0,30,2018-11-16,2018-12-06,20 days,True
891,032311940,301993996930,27,2,7500.0,30.0,30,2018-08-02,2018-08-06,4 days,True
896,466262330,302846873,9,2,7500.0,30.0,30,2018-03-29,2018-04-09,11 days,True
907,686558059,301982521136,26,2,7500.0,30.0,30,2018-07-30,2018-09-08,40 days,True
908,912290005,302744019,6,1,7500.0,30.0,30,2018-03-08,2018-05-23,76 days,True
912,657637051,302590779,1,1,7500.0,30.0,30,2018-02-03,2018-03-13,38 days,True
914,191115740,302657503,3,2,7500.0,30.0,30,2018-02-18,2018-02-22,4 days,True
917,151876969,302786072,7,1,7500.0,30.0,30,2018-03-17,2018-03-21,4 days,True
919,251839715,302368523945,37,1,7500.0,30.0,30,2018-10-10,2018-10-24,14 days,True
926,068296451,303008698,14,2,7500.0,30.0,30,2018-05-03,2018-05-08,5 days,True
927,139420975,302863390,9,1,7500.0,30.0,30,2018-04-01,2018-10-08,190 days,True
929,031947410,301822930431,22,2,7500.0,30.0,30,2018-06-29,2018-09-25,88 days,True
932,749085876,301884588348,24,4,7500.0,30.0,30,2018-07-11,2018-09-01,52 days,True
934,049163426,302779934,7,1,7500.0,30.0,30,2018-03-16,2018-05-09,54 days,True
941,166319502,302303049493,35,3,7500.0,30.0,30,2018-09-29,2018-10-03,4 days,True
947,826407015,302353101661,36,12,7500.0,30.0,30,2018-10-07,2018-10-18,11 days,True
951,920806253,302471845612,39,1,7500.0,30.0,30,2018-10-27,2018-11-09,13 days,True
952,729934026,301795211670,21,1,7500.0,30.0,30,2018-06-25,2018-07-05,10 days,True
956,121586610,302178919277,32,3,7500.0,30.0,30,2018-09-07,2018-09-27,20 days,True
960,482610334,302370502585,37,1,7500.0,30.0,30,2018-10-10,2018-11-12,33 days,True
962,492954954,303201761,19,1,7500.0,30.0,30,2018-06-08,2018-07-25,47 days,True
963,859200358,302701019,4,3,7500.0,30.0,30,2018-02-27,2018-03-07,8 days,True
964,631264575,302600338,1,1,7500.0,30.0,30,2018-02-05,2018-04-29,83 days,True
965,738664536,303004277,13,1,7500.0,30.0,30,2018-05-03,2018-06-06,34 days,True
967,745141607,302227740886,33,1,7500.0,30.0,30,2018-09-16,2018-10-16,30 days,True
978,189301655,302565959911,41,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days,True
980,874756930,302885631,10,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days,True
983,351491824,302607848,2,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days,True
987,576830620,302856088,9,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days,True
997,899011279,302585439,1,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days,True

In [397]:
lateDays['dateDifference'] = lateDays['dateDifference'].dt.days
lateDays

C:\Users\Kenny\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,paidMoreThan3DaysLate
397,GH35460722,100016172,5,5,80.0,15.0,15,2018-02-14,2018-03-01,15,True
410,GH85390929,100015715,4,2,80.0,15.0,15,2018-02-12,2018-02-16,4,True
419,GH06832511,100014400,3,1,80.0,15.0,15,2018-02-05,2018-02-14,9,True
424,GH26139148,100017099,5,2,80.0,15.0,15,2018-02-19,2018-02-27,8,True
426,GH03825373,100012495,2,1,80.0,15.0,15,2018-01-29,2018-02-13,15,True
432,GH63887800,100016727,5,2,80.0,15.0,15,2018-02-19,2018-02-25,6,True
446,GH33164754,100014274,3,5,80.0,15.0,15,2018-02-05,2018-02-12,7,True
448,GH28179321,100016682,5,5,80.0,15.0,15,2018-02-19,2018-02-28,9,True
449,GH96880686,100012940,2,1,80.0,15.0,15,2018-01-29,2018-02-17,19,True
450,GH80713260,100017839,6,4,80.0,15.0,15,2018-02-23,2018-02-27,4,True
456,GH28179321,100011014,1,4,80.0,15.0,15,2018-01-22,2018-01-31,9,True
457,GH59483030,100017217,6,5,80.0,15.0,15,2018-02-20,2018-04-04,43,True
459,GH00205281,100016094,5,2,80.0,15.0,15,2018-02-13,2018-02-27,14,True
462,GH96908526,100013425,3,3,80.0,15.0,15,2018-01-31,2018-02-19,19,True
469,GH91278408,100017825,6,2,80.0,15.0,15,2018-02-23,2018-03-29,34,True
474,GH63727524,100015090,4,1,80.0,15.0,15,2018-02-07,2018-05-28,110,True
491,GH44856685,100016872,5,5,80.0,15.0,15,2018-02-19,2018-03-05,14,True
517,GH67529775,100017455,6,2,80.0,15.0,15,2018-02-21,2018-03-05,12,True
531,739546510,302060935730,29,6,20500.0,20.0,60,2018-09-16,2018-12-22,97,True
532,051964302,302344421107,36,4,20500.0,20.0,60,2018-11-06,2018-12-01,25,True
544,026133837,302623360,2,2,7500.0,30.0,30,2018-02-11,2018-03-24,41,True
547,124189650,302607241,2,1,7500.0,30.0,30,2018-02-09,2018-03-30,49,True
549,061452364,302528776595,40,2,7500.0,30.0,30,2018-11-05,2018-11-14,9,True
551,383789899,302833086,8,1,7500.0,30.0,30,2018-03-29,2018-04-12,14,True
553,339095931,302379245789,37,2,7500.0,30.0,30,2018-10-12,2018-10-31,19,True
554,091351436,302832471,8,1,7500.0,30.0,30,2018-03-27,2018-04-24,28,True
555,683225743,302072465932,29,5,7500.0,30.0,30,2018-08-20,2018-09-25,36,True
557,530961303,302716663,5,2,7500.0,30.0,30,2018-03-02,2018-03-07,5,True
560,974013962,302583090,1,1,7500.0,30.0,30,2018-02-04,2018-03-06,30,True
562,751741585,303138149,17,1,7500.0,30.0,30,2018-05-28,2018-07-28,61,True
...,...,...,...,...,...,...,...,...,...,...,...
890,159945550,302589833904,42,1,7500.0,30.0,30,2018-11-16,2018-12-06,20,True
891,032311940,301993996930,27,2,7500.0,30.0,30,2018-08-02,2018-08-06,4,True
896,466262330,302846873,9,2,7500.0,30.0,30,2018-03-29,2018-04-09,11,True
907,686558059,301982521136,26,2,7500.0,30.0,30,2018-07-30,2018-09-08,40,True
908,912290005,302744019,6,1,7500.0,30.0,30,2018-03-08,2018-05-23,76,True
912,657637051,302590779,1,1,7500.0,30.0,30,2018-02-03,2018-03-13,38,True
914,191115740,302657503,3,2,7500.0,30.0,30,2018-02-18,2018-02-22,4,True
917,151876969,302786072,7,1,7500.0,30.0,30,2018-03-17,2018-03-21,4,True
919,251839715,302368523945,37,1,7500.0,30.0,30,2018-10-10,2018-10-24,14,True
926,068296451,303008698,14,2,7500.0,30.0,30,2018-05-03,2018-05-08,5,True
927,139420975,302863390,9,1,7500.0,30.0,30,2018-04-01,2018-10-08,190,True
929,031947410,301822930431,22,2,7500.0,30.0,30,2018-06-29,2018-09-25,88,True
932,749085876,301884588348,24,4,7500.0,30.0,30,2018-07-11,2018-09-01,52,True
934,049163426,302779934,7,1,7500.0,30.0,30,2018-03-16,2018-05-09,54,True
941,166319502,302303049493,35,3,7500.0,30.0,30,2018-09-29,2018-10-03,4,True
947,826407015,302353101661,36,12,7500.0,30.0,30,2018-10-07,2018-10-18,11,True
951,920806253,302471845612,39,1,7500.0,30.0,30,2018-10-27,2018-11-09,13,True
952,729934026,301795211670,21,1,7500.0,30.0,30,2018-06-25,2018-07-05,10,True
956,121586610,302178919277,32,3,7500.0,30.0,30,2018-09-07,2018-09-27,20,True
960,482610334,302370502585,37,1,7500.0,30.0,30,2018-10-10,2018-11-12,33,True
962,492954954,303201761,19,1,7500.0,30.0,30,2018-06-08,2018-07-25,47,True
963,859200358,302701019,4,3,7500.0,30.0,30,2018-02-27,2018-03-07,8,True
964,631264575,302600338,1,1,7500.0,30.0,30,2018-02-05,2018-04-29,83,True
965,738664536,303004277,13,1,7500.0,30.0,30,2018-05-03,2018-06-06,34,True
967,745141607,302227740886,33,1,7500.0,30.0,30,2018-09-16,2018-10-16,30,True
978,189301655,302565959911,41,2,7500.0,30.0,30,2018-11-12,2018-11-20,8,True
980,874756930,302885631,10,2,7500.0,30.0,30,2018-04-06,2018-04-17,11,True
983,351491824,302607848,2,1,7500.0,30.0,30,2018-02-09,2018-05-09,89,True
987,576830620,302856088,9,3,7500.0,30.0,30,2018-03-31,2018-07-12,103,True
997,899011279,302585439,1,3,7500.0,30.0,30,2018-02-02,2018-10-12,252,True

In [370]:
lateDays.groupby('appilcationDate').agg({'dateDifference': np.mean})

                 dateDifference
appilcationDate
1                     87.600000
2                     45.750000
3                     16.500000
4                     37.916667
5                     18.000000
6                     39.714286
7                     29.250000
8                     25.153846
9                     55.857143
10                    29.250000
11                    71.500000
12                    19.500000
13                    34.000000
14                    14.000000
15                     7.000000
17                    34.500000
19                    66.500000
20                    28.000000
21                    10.000000
22                    88.000000
23                    11.000000
24                    36.000000
26                    27.333333
27                     4.000000
28                     7.000000
29                    69.000000
30                    65.000000
31                   108.000000
32                    15.500000
33                    30.000000
34                    14.000000
35                     4.000000
36                    39.333333
37                    17.200000
38                    60.000000
39                     9.000000
40                     9.000000
41                     8.000000
42                    20.000000
44                     9.000000
45                     6.000000
48                    18.000000

In [371]:
lateDays.groupby('appilcationDate').mean().iloc[1,4].round(2)

45.75

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.